.ImageSlider {
    position: relative;
    top: 15%;
    left: 35%;
    width: 50%;
}

.slide-left {
    position: relative;
    top: 10px;
    right: 25px;
    cursor: pointer;
}

.slide-right img {
    position: relative;
    top: 10px;
    left: 25px;
    cursor: pointer;
}

.image-center {
    border: 1px solid gray;
}
