.ProductQuantity {
    width: 250px;
    margin-top: 20px;
    border: 1px solid gray;
    padding: 10px;
}
.quan-lbl {
    padding-right: 70px;
    font-size: 15px;
    color: rgba(51, 51, 51, 255);
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

span.quan-plus, span.quan-minus {
    width: 26px;
    background-color: rgba(128, 128, 128, 0.42);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding-bottom: 3px;
    cursor: pointer;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

span.quan-num {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}